# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
datasets/t10k-images-idx3-ubyte.gz
datasets/t10k-labels-idx1-ubyte.gz
datasets/train-images-idx3-ubyte.gz
datasets/train-labels-idx1-ubyte.gz
